.button {
	background: var(--lightbackground);
	border-radius: 5.3125rem;
	border: none;
	color: var(--firsttext);
	cursor: pointer;
	font: var(--button);
	padding-block-end: 1rem;
	padding-block-start: 1rem;
	padding-inline-end: 2.875rem;
	padding-inline-start: 2.875rem;
	text-align: center;
	text-decoration: none;
	transition: transform 0.3s;
	user-select: none;
	-moz-border-radius: 5.3125rem;
	-moz-transition: transform 0.3s;
	-moz-user-select: none;
	-ms-border-radius: 5.3125rem;
	-ms-transition: transform 0.3s;
	-ms-user-select: none;
	-o-border-radius: 5.3125rem;
	-o-transition: transform 0.3s;
	-webkit-border-radius: 5.3125rem;
	-webkit-transition: transform 0.3s;
	-webkit-user-select: none;
}

.button.is-purple {
	background: var(--primary);
	color: var(--lightbackground);
}

.button.is-edged {
	border: 2px solid var(--primary);
	color: var(--primary);
}

.button:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
}
