.card {
	padding: 10px;
	max-inline-size: 30.875rem;
	box-sizing: border-box;
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(0.5rem);
	border-radius: 1.5rem;
	-webkit-border-radius: 1.5rem;
	-moz-border-radius: 1.5rem;
	-ms-border-radius: 1.5rem;
	-o-border-radius: 1.5rem;
	flex-shrink: 0;
}

.card-content {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.75rem;
	block-size: 100%;
	justify-content: space-between;
}

.card-quote {
	margin: 0;
	font: var(--paragraphe);
	text-align: center;
}

.card-user {
	display: flex;
}

.card-avatar {
	margin: 0;
	margin-inline-end: 1.5rem;
	block-size: 3.125rem;
	inline-size: 3.125rem;
}

.card-avatar img {
	vertical-align: middle;
}

.card-author {
	display: flex;
	flex-direction: column;
	font: var(--subtitle);
}

.card-author span:first-of-type {
	font: var(--link);
	color: var(--firsttext);
}
