.demo-content {
	padding-block-end: 3.875rem;
	padding-block-start: 4.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.demo-details {
	text-align: center;
	padding-block-end: 4.3125rem;
	padding-inline-end: 1rem;
	padding-inline-start: 1rem;
	max-inline-size: 51.5625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.demo-title {
	font: var(--thirdheadline);
	color: var(--firsttext);
	margin: 0;
	margin-block-end: 1.75rem;
}

.demo-description {
	margin: 0;
	max-inline-size: 44.1875rem;
}

@media screen and (min-width: 506px) {
	.demo-title {
		font: var(--secondheadline);
	}
}
