.feature {
	padding-block-start: 6.25rem;
	padding-block-end: 6.25rem;
}

.feature-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.75rem;
}

.feature.bg-secondary {
	background-image: url('../assets/images/bg-img-7.png');
	background-position: right -273px top 54px;
	background-repeat: no-repeat;
	animation: fluidBgSecondary 3s ease-in-out infinite alternate;
	-webkit-animation: fluidBgSecondary 3s ease-in-out infinite alternate;
}

.feature.bg-primary {
	background-image: url('../assets/images/bg-img-8.png');
	background-position: left -211px top 54px;
	background-repeat: no-repeat;
	animation: fluidBgPrimary 3s ease-in-out infinite alternate;
	-webkit-animation: fluidBgPrimary 3s ease-in-out infinite alternate;
}

.feature-details {
	text-align: center;
	padding-inline-end: 1rem;
	padding-inline-start: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
	max-inline-size: 36.875rem;
	align-items: center;
}

.feature-title {
	color: var(--firsttext);
	font: var(--title);
	margin: 0;
}

.feature-description {
	margin: 0;
}

.feature-image {
	margin: 0;
	max-inline-size: 32.25rem;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	will-change: transform;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.feature-image.is-visible {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.feature-image img {
	vertical-align: middle;
	inline-size: 100%;
	block-size: auto;
}

.feature-link {
	text-decoration: none;
	color: var(--primary);
	text-transform: uppercase;
	padding: 0.625rem;
	font: var(--link);
	position: relative;
}

.feature-link::after {
	content: '';
	position: absolute;
	display: block;
	block-size: 2px;
	background: var(--primary);
	inline-size: 0;
	transition: inline-size 0.3s;
	-webkit-transition: inline-size 0.3s;
	-moz-transition: inline-size 0.3s;
	-ms-transition: inline-size 0.3s;
	-o-transition: inline-size 0.3s;
}

.feature-link:hover::after {
	inline-size: calc(100% - 1.25rem);
}

@keyframes fluidBgSecondary {
	to {
		background-position: right -300px top 34px;
	}
}

@keyframes fluidBgPrimary {
	to {
		background-position: left -240px top 24px;
	}
}

@media screen and (min-width: 960px) {
	.feature-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-inline-end: 1.25rem;
		padding-inline-start: 1.25rem;
	}

	.feature:nth-of-type(odd) .feature-content {
		flex-direction: row-reverse;
	}

	.feature-details {
		padding: 0;
		text-align: left;
		align-items: flex-start;
	}

	.feature.bg-secondary {
		background-image: url('../assets/images/bg-img-3.png');
		background-position: left -248px top 54px;
		animation: fluidBgPrimary 3s ease-in-out infinite alternate;
		-webkit-animation: fluidBgPrimary 3s ease-in-out infinite alternate;
	}

	.feature.bg-primary {
		background-image: url('../assets/images/bg-img-4.png');
		background-position: right -230px top 54px;
		animation: fluidBgSecondary 3s ease-in-out infinite alternate;
		-webkit-animation: fluidBgSecondary 3s ease-in-out infinite alternate;
	}

	@keyframes fluidBgSecondary {
		to {
			background-position: right -180px top 34px;
		}
	}

	@keyframes fluidBgPrimary {
		to {
			background-position: left -180px top 24px;
		}
	}
}

@media screen and (min-width: 1240px) {
	.feature-content {
		gap: 3.75rem;
	}
}
