.footer {
	padding-block-start: 4.375rem;
	padding-block-end: 3.75rem;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5.4375rem;
}

.footer-logo {
	text-align: center;
	margin: 0;
}

.footer-logo img {
	block-size: 48px;
	inline-size: 48px;
	vertical-align: middle;
}

.footer-phrase {
	font: var(--subtitle);
}

@media screen and (min-width: 768px) {
	.footer {
		padding-block-start: 4.125rem;
		padding-block-end: 4.125rem;
		padding-inline-end: 1.5rem;
		padding-inline-start: 1.5rem;
	}

	.footer-content {
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}
}
