.footerNav-menu {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	margin: 0;
	margin-block-end: 2.9375rem;
}

.footerNav-item a {
	padding: 0.625rem;
	font: var(--link);
	text-decoration: none;
	color: var(--firsttext);
}
