.hero {
	background-image: url('../assets/images/bg-img-1.png'),
		url('../assets/images/bg-img-2.png'),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.22) 20%,
			rgba(0, 225, 198, 0.3) 35%,
			#ffffff 99.85%
		);
	background-position: left -200px top 250px, right -230px top 550px, 0% 0%;
	background-repeat: no-repeat;
	padding-block-end: 5.125rem;
	animation: fluid 1s infinite;
	-webkit-animation: fluidHero 3s ease-in-out infinite alternate;
}

.hero-content {
	margin-block-start: 5.625rem;
	display: flex;
	flex-direction: column;
	gap: 2.8125rem;
	text-align: center;
}

.hero-details {
	padding-block-end: 2.5rem;
	padding-block-start: 2.5rem;
	padding-inline-end: 1rem;
	padding-inline-start: 1rem;
	color: var(--secondary);
}

.hero-title {
	font: var(--thirdheadline);
	letter-spacing: 0.2px;
	margin: 0;
	margin-block-end: 2.375rem;
}

.hero-description {
	margin: 0;
}

.hero-image {
	margin: 0;
	max-inline-size: 1180px;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

.hero-image img {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}

@keyframes fluidHero {
	to {
		background-position: left -180px top 200px, right -200px top 570px, 0% 0%;
	}
}
