.hero {
	background-image: url('../assets/images/bg-img-1.png'),
		url('../assets/images/bg-img-2.png'),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.22) 20%,
			rgba(0, 225, 198, 0.3) 35%,
			#ffffff 99.85%
		);
	background-position: left -620px top 250px, right -618px top 560px, 0% 0%;
	background-repeat: no-repeat;
	padding-block-end: 5.125rem;
	animation: fluidHero 3s ease-in-out infinite alternate;
	-webkit-animation: fluidHero 3s ease-in-out infinite alternate;
}

.hero-content {
	margin-block-start: 5.625rem;
	display: flex;
	flex-direction: column;
	gap: 2.8125rem;
	text-align: center;
	align-items: center;
}

.hero-details {
	padding-block-end: 2.5rem;
	padding-block-start: 2.5rem;
	padding-inline-end: 1rem;
	padding-inline-start: 1rem;
	color: var(--secondary);
	max-inline-size: 44.875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-title {
	font: var(--thirdheadline);
	letter-spacing: 0.2px;
	margin: 0;
	margin-block-end: 2.375rem;
}

.hero-description {
	margin: 0;
	max-inline-size: 31.625rem;
}

.hero-image {
	margin: 0;
	max-inline-size: 80.125rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

.hero-image img {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}

@keyframes fluidHero {
	to {
		background-position: left -580px top 200px, right -560px top 590px, 0% 0%;
	}
}

@media screen and (min-width: 506px) {
	.hero-title {
		font: var(--secondheadline);
	}
}

@media screen and (min-width: 768px) {
	.hero {
		background-position: left -415px top 341px, right -388px top 530px, 0% 0%;
		padding-block-end: 0;
	}

	@keyframes fluidHero {
		to {
			background-position: left -380px top 280px, right -330px top 580px, 0% 0%;
		}
	}
}
