@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/inter-v7-latin-regular.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/inter-v7-latin-600.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-600.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/inter-v7-latin-700.woff2') format('woff2'),
		url('../assets/fonts/inter-v7-latin-700.woff') format('woff');
}

:root {
	--black: #000000;
	--primary: #6246ea;
	--secondary: #d1d1e9;
	--secondary: #112d57;
	--firsttext: #20262a;
	--lighttext: #ffffff;
	--secondtext: #5c5c5c;
	--darkbackground: #182333;
	--lightbackground: #ffffff;
	--fontBase: 'Inter', sans-serif;
	--headline: 700 4.5rem/4.875rem var(--fontBase);
	--secondheadline: 700 3.5rem/4.0625rem var(--fontBase);
	--thirdheadline: 700 50px/4.0625rem var(--fontBase);
	--title: 400 2.25rem/2.625rem var(--fontBase);
	--subheading: 400 1.5rem/2.375rem var(--fontBase);
	--button: 600 1.125rem/1.25rem var(--fontBase);
	--subtitle: 400 1.125rem/1.75rem var(--fontBase);
	--paragraphe: 400 1.1875rem/1.875rem var(--fontBase);
	--link: 400 1.125rem/1.25rem var(--fontBase);
	--mobilemenu: 400 1.125rem/1.25rem var(--fontBase);
}

.body {
	margin: 0;
	font: var(--subheading);
	min-inline-size: 22.5rem;
	min-block-size: 40rem;
}
